In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import re

In [2]:
energy = pd.read_csv('../data/eia_data.csv')

In [3]:
energy['Description'].value_counts()

Description
Wood Energy Production                695
Biofuels Production                   695
Total Biomass Energy Production       695
Total Renewable Energy Production     695
Hydroelectric Power Consumption       695
Geothermal Energy Consumption         695
Solar Energy Consumption              695
Wind Energy Consumption               695
Wood Energy Consumption               695
Waste Energy Consumption              695
Biofuels Consumption                  695
Total Biomass Energy Consumption      695
Total Renewable Energy Consumption    695
Name: count, dtype: int64

In [4]:
Hydro = energy.loc[energy['Description'] == 'Hydroelectric Power Consumption']

In [5]:
Solar = energy.loc[energy['Description'] == 'Solar Energy Consumption']

In [6]:
Wind = energy.loc[energy['Description'] == 'Wind Energy Consumption']

In [7]:
Hydro['YYYYMM'] = Hydro['YYYYMM'].astype('string')

C:\Users\Hunter\AppData\Local\Temp\ipykernel_20576\1803886293.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Hydro['YYYYMM'] = Hydro['YYYYMM'].astype('string')

In [8]:
Hydro['YYYYMM'] = Hydro['YYYYMM'] +"01"

C:\Users\Hunter\AppData\Local\Temp\ipykernel_20576\1724863839.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Hydro['YYYYMM'] = Hydro['YYYYMM'] +"01"

In [9]:
#Hydro['YYYYMM'] = pd.to_datetime(Hydro['YYYYMM'])

In [10]:
#Hydro.dtypes

In [11]:
#Hydro['YYYYMM'].head()

In [12]:
#Hydro = datetime.strptime(['YYYYMM'], '%Y%m%d')

In [13]:
# Hydro.YYYYMM().isoformat()

In [14]:
#Hydro.dtypes

In [15]:
#Hydro['YYYYMM']

In [16]:
Hydro.loc[Hydro.YYYYMM > '20121201']

,MSN,YYYYMM,Value,Column_Order,Description,Unit
3323,HVTCBUS,20121301,942.532,5,Hydroelectric Power Consumption,Trillion Btu
3324,HVTCBUS,20130101,84.715,5,Hydroelectric Power Consumption,Trillion Btu
3325,HVTCBUS,20130201,69.668,5,Hydroelectric Power Consumption,Trillion Btu
3326,HVTCBUS,20130301,70.063,5,Hydroelectric Power Consumption,Trillion Btu
3327,HVTCBUS,20130401,85.631,5,Hydroelectric Power Consumption,Trillion Btu
...,...,...,...,...,...,...
3470,HVTCBUS,20240401,66.116,5,Hydroelectric Power Consumption,Trillion Btu
3471,HVTCBUS,20240501,77.156,5,Hydroelectric Power Consumption,Trillion Btu
3472,HVTCBUS,20240601,72.234,5,Hydroelectric Power Consumption,Trillion Btu
3473,HVTCBUS,20240701,72.288,5,Hydroelectric Power Consumption,Trillion Btu
3474,HVTCBUS,20240801,72.875,5,Hydroelectric Power Consumption,Trillion Btu

In [17]:
Solar['YYYYMM'] = Solar['YYYYMM'].astype('string')

C:\Users\Hunter\AppData\Local\Temp\ipykernel_20576\1860342258.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Solar['YYYYMM'] = Solar['YYYYMM'].astype('string')

In [18]:
Solar['YYYYMM'] = Solar['YYYYMM'] + "01"

C:\Users\Hunter\AppData\Local\Temp\ipykernel_20576\1533374409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Solar['YYYYMM'] = Solar['YYYYMM'] + "01"

In [19]:
Solar.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
4170,SOTCBUS,19491301,Not Available,7,Solar Energy Consumption,Trillion Btu
4171,SOTCBUS,19501301,Not Available,7,Solar Energy Consumption,Trillion Btu
4172,SOTCBUS,19511301,Not Available,7,Solar Energy Consumption,Trillion Btu
4173,SOTCBUS,19521301,Not Available,7,Solar Energy Consumption,Trillion Btu
4174,SOTCBUS,19531301,Not Available,7,Solar Energy Consumption,Trillion Btu

In [20]:
Wind['YYYYMM'] = Wind['YYYYMM'].astype('string')

C:\Users\Hunter\AppData\Local\Temp\ipykernel_20576\542683654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Wind['YYYYMM'] = Wind['YYYYMM'].astype('string')

In [21]:
Wind['YYYYMM'] = Wind['YYYYMM'] + "01"

C:\Users\Hunter\AppData\Local\Temp\ipykernel_20576\4058774800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Wind['YYYYMM'] = Wind['YYYYMM'] + "01"

In [22]:
Wind.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
4865,WYTCBUS,19491301,Not Available,8,Wind Energy Consumption,Trillion Btu
4866,WYTCBUS,19501301,Not Available,8,Wind Energy Consumption,Trillion Btu
4867,WYTCBUS,19511301,Not Available,8,Wind Energy Consumption,Trillion Btu
4868,WYTCBUS,19521301,Not Available,8,Wind Energy Consumption,Trillion Btu
4869,WYTCBUS,19531301,Not Available,8,Wind Energy Consumption,Trillion Btu

In [23]:
hydro_solar = pd.merge(Hydro, Solar,
         left_on = 'YYYYMM', right_on = 'YYYYMM', 
         how = 'outer')
hydro_solar.head()

,MSN_x,YYYYMM,Value_x,Column_Order_x,Description_x,Unit_x,MSN_y,Value_y,Column_Order_y,Description_y,Unit_y
0,HVTCBUS,19491301,323.365,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu
1,HVTCBUS,19501301,344.218,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu
2,HVTCBUS,19511301,356.131,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu
3,HVTCBUS,19521301,374.325,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu
4,HVTCBUS,19531301,374.015,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu

In [24]:
whs = pd.merge(hydro_solar, Wind,
         left_on = 'YYYYMM', right_on = 'YYYYMM',
         how = 'outer')
whs.head()

,MSN_x,YYYYMM,Value_x,Column_Order_x,Description_x,Unit_x,MSN_y,Value_y,Column_Order_y,Description_y,Unit_y,MSN,Value,Column_Order,Description,Unit
0,HVTCBUS,19491301,323.365,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,8,Wind Energy Consumption,Trillion Btu
1,HVTCBUS,19501301,344.218,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,8,Wind Energy Consumption,Trillion Btu
2,HVTCBUS,19511301,356.131,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,8,Wind Energy Consumption,Trillion Btu
3,HVTCBUS,19521301,374.325,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,8,Wind Energy Consumption,Trillion Btu
4,HVTCBUS,19531301,374.015,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,8,Wind Energy Consumption,Trillion Btu

In [25]:
whs = whs.rename(columns = {'Value_x':'Hydro_Energy_Consumed', 'Value_y':'Solar_Energy_Consumed', 'Value':'Wind_Energy_Consumed'})
whs.head(1)

,MSN_x,YYYYMM,Hydro_Energy_Consumed,Column_Order_x,Description_x,Unit_x,MSN_y,Solar_Energy_Consumed,Column_Order_y,Description_y,Unit_y,MSN,Wind_Energy_Consumed,Column_Order,Description,Unit
0,HVTCBUS,19491301,323.365,5,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,7,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,8,Wind Energy Consumption,Trillion Btu

In [26]:
whs = whs.drop(columns = ['Column_Order_x', 'Column_Order_y', 'Column_Order'])

In [27]:
whs = whs.rename(columns = {'YYYYMM':'Date', 'Description_x':'Hydro', 'Description_y':'Solar', 'Description':'Wind'})

In [28]:
whs.head()

,MSN_x,Date,Hydro_Energy_Consumed,Hydro,Unit_x,MSN_y,Solar_Energy_Consumed,Solar,Unit_y,MSN,Wind_Energy_Consumed,Wind,Unit
0,HVTCBUS,19491301,323.365,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
1,HVTCBUS,19501301,344.218,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
2,HVTCBUS,19511301,356.131,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
3,HVTCBUS,19521301,374.325,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
4,HVTCBUS,19531301,374.015,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu

In [29]:
#pd.to_datetime(whs['Date'])

In [30]:
whs.loc[whs['Solar_Energy_Consumed'] == 'Not Available']

,MSN_x,Date,Hydro_Energy_Consumed,Hydro,Unit_x,MSN_y,Solar_Energy_Consumed,Solar,Unit_y,MSN,Wind_Energy_Consumed,Wind,Unit
0,HVTCBUS,19491301,323.365,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
1,HVTCBUS,19501301,344.218,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
2,HVTCBUS,19511301,356.131,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
3,HVTCBUS,19521301,374.325,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
4,HVTCBUS,19531301,374.015,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,Not Available,Wind Energy Consumption,Trillion Btu
...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,HVTCBUS,19830901,74.808,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.001,Wind Energy Consumption,Trillion Btu
163,HVTCBUS,19831001,71.491,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.002,Wind Energy Consumption,Trillion Btu
164,HVTCBUS,19831101,84.956,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.001,Wind Energy Consumption,Trillion Btu
165,HVTCBUS,19831201,108.936,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0,Wind Energy Consumption,Trillion Btu
166,HVTCBUS,19831301,1144.012,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.009,Wind Energy Consumption,Trillion Btu

In [31]:
#whs = pd.to_datetime(whs['Date'])

In [32]:
#whs = datetime.strptime(['Date'], '%Y%m%d')

In [33]:
#Hydro = datetime.strptime(['YYYYMM'], '%Y%m%d')

In [34]:
#whs['Date'].str.slice(4)

In [35]:
#whs['Date'] = whs['Date'].str[:4]

In [36]:
whs.loc[whs['Solar_Energy_Consumed'] == 'Not Available'].tail()

,MSN_x,Date,Hydro_Energy_Consumed,Hydro,Unit_x,MSN_y,Solar_Energy_Consumed,Solar,Unit_y,MSN,Wind_Energy_Consumed,Wind,Unit
162,HVTCBUS,19830901,74.808,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.001,Wind Energy Consumption,Trillion Btu
163,HVTCBUS,19831001,71.491,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.002,Wind Energy Consumption,Trillion Btu
164,HVTCBUS,19831101,84.956,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.001,Wind Energy Consumption,Trillion Btu
165,HVTCBUS,19831201,108.936,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0,Wind Energy Consumption,Trillion Btu
166,HVTCBUS,19831301,1144.012,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,Not Available,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.009,Wind Energy Consumption,Trillion Btu

In [37]:
whs = whs.loc[whs['Date'] > '19831301']

BTU stands for British Thermal Unit, it is a measure of the heat content of fuels or energy sources.

In [39]:
whs = whs.loc[whs['Date'] < '20240101']

In [40]:
whs = whs.reset_index(drop = True)

In [41]:
whs.tail()

,MSN_x,Date,Hydro_Energy_Consumed,Hydro,Unit_x,MSN_y,Solar_Energy_Consumed,Solar,Unit_y,MSN,Wind_Energy_Consumed,Wind,Unit
515,HVTCBUS,20230901,57.716,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,81.556,Solar Energy Consumption,Trillion Btu,WYTCBUS,96.742,Wind Energy Consumption,Trillion Btu
516,HVTCBUS,20231001,53.475,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,74.296,Solar Energy Consumption,Trillion Btu,WYTCBUS,122.9,Wind Energy Consumption,Trillion Btu
517,HVTCBUS,20231101,58.092,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,56.874,Solar Energy Consumption,Trillion Btu,WYTCBUS,124.352,Wind Energy Consumption,Trillion Btu
518,HVTCBUS,20231201,64.922,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,50.393,Solar Energy Consumption,Trillion Btu,WYTCBUS,129.787,Wind Energy Consumption,Trillion Btu
519,HVTCBUS,20231301,835.948,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,880.325,Solar Energy Consumption,Trillion Btu,WYTCBUS,1436.934,Wind Energy Consumption,Trillion Btu

In [42]:
whs_2 = whs

In [43]:
whs_2['Month'] = whs_2['Date'].str[4:]

When the month is 13 then that row is the total amount consumed for the whole year

In [45]:
whs['Year_totals'] = whs['Date']

In [46]:
whs['Year_totals'] = whs['Year_totals'].str[4:]

In [47]:
whs['Date'] = whs['Date'].str[:4]

In [48]:
whs = whs.rename(columns = {'Date':'Year'})

In [49]:
whs_2['Date'] = whs_2['Date'].str[:4]

In [50]:
wsh_2 = whs_2.rename(columns = {'Date':'Year'})

In [51]:
yearly_totals = wsh_2.loc[wsh_2.Month == '1301']

In [52]:
yearly_totals = yearly_totals.reset_index(drop = True)

In [53]:
yearly_totals.head()

,MSN_x,Year,Hydro_Energy_Consumed,Hydro,Unit_x,MSN_y,Solar_Energy_Consumed,Solar,Unit_y,MSN,Wind_Energy_Consumed,Wind,Unit,Month,Year_totals
0,HVTCBUS,1984,1106.55,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,0.018,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.022,Wind Energy Consumption,Trillion Btu,1301,1301
1,HVTCBUS,1985,970.068,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,0.036,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.02,Wind Energy Consumption,Trillion Btu,1301,1301
2,HVTCBUS,1986,1003.146,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,0.048,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.014,Wind Energy Consumption,Trillion Btu,1301,1301
3,HVTCBUS,1987,862.745,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,0.036,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.012,Wind Energy Consumption,Trillion Btu,1301,1301
4,HVTCBUS,1988,771.456,Hydroelectric Power Consumption,Trillion Btu,SOTCBUS,0.031,Solar Energy Consumption,Trillion Btu,WYTCBUS,0.003,Wind Energy Consumption,Trillion Btu,1301,1301